@keyframes pagechange {
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
    }
}

@keyframes fontchange {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes colorchange {
    from {
        background-color: #ffffff;
    }
    to {
        background-color: #23395d;
    }
}


/* //---------------------------Hello page start------------------------------------ */

body.new {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#full {
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.size {
    font-family: 'SF Pro Display', sans-serif;
    color: #23395d;
    letter-spacing: 80px;
    font-weight: 900;
    font-size: 100px;
    margin-left: 5pc;
}

#fontcolor {
    font-weight: 900;
    font-size: x-small;
    text-transform: uppercase;
    font-family: 'SF Pro Display', sans-serif;
    color: #23395d;
    word-spacing: 2px;
    letter-spacing: 5px;
}

footer {
    position: fixed;
    word-spacing: 2px;
    letter-spacing: 5px;
    font-weight: 900;
    font-size: xx-small;
    text-transform: uppercase;
    font-family: 'SF Pro Display', sans-serif;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    color: #23395d;
    text-align: center;
    height: 40px;
}


/* //---------------------------Hello page end------------------------------------ */


/* //---------------------------Create page start------------------------------------ */

body.yatra {
    margin: 0;
    padding: 0;
    background-color: #23395d;
}

#full2 {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.size2 {
    font-family: 'SF Pro Display', sans-serif;
    color: #ffffff;
    letter-spacing: 80px;
    font-weight: 900;
    font-size: 100px;
    margin-left: 5pc;
}

#fontcolor2 {
    font-weight: 400;
    font-size: x-small;
    text-transform: uppercase;
    font-family: 'SF Pro Display', sans-serif;
    color: #ffffff;
    word-spacing: 2px;
    letter-spacing: 5px;
}


/* //---------------------------Create page end------------------------------------ */